@using Microsoft.AspNetCore.Mvc.Localization
@using AbpUserBasedSetting.Localization
@inject IHtmlLocalizer<AbpUserBasedSettingResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
